.main{
    border-left: 1px solid black;
}

@media (max-width:600px) {
    
    
}

.navbar{
    display: flex;
    margin-left: 80px;
    border-bottom: 2px solid green;
    width: 87%;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
}

.navbar ul li{
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: black
}


.navbar button{
    text-decoration: none;
}



.navbar img{
    width: 250px;
    /* height: 100px; */
}

.flex-card{
    display: flex;
    margin-left: 80px;
    /* margin-top: 30px; */
    margin-right: 80px;
    align-items: center;
    background-color:rgba(128, 128, 128, 0.081);
    border-left: 1px solid black;
    /* padding: 30px; */
}

.flex-cerd-heading {
    color: rgb(23, 157, 23);
    text-decoration:  ;
}

.started h2{
    color: rgb(23, 157, 23);
    margin-left: 40px;
}

.started p{
    margin-left: 40px;
}

.started button{
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    background-color: rgb(20, 157, 23);
    margin-left: 40px;

}


.mobile img{
    height: 100vh;
    width: 120vh;
}

.feature h2{
    text-align: center;
    color: rgb(67, 210, 67);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.feature p{
    text-align: center;
    font-size: larger;
}

.ref h2{
    margin-left: 10%;
}

.investor{
    display: flex;
    align-items: center;
    margin-left: 10%;
    gap: 20px;
    margin-bottom: 30px;
}

.investor img{
    height: 10vh;
    width: 10vh;
    margin-left: 25% ;

}

.growth{
    padding: 35px 25px 35px 25px;
}

.star{
    padding: 20px 25px 20px 25px;
}

.page{
    padding: 45px 25px 45px 25px;
}

.fon{
    margin-left: 10%;
    margin-bottom: 30px;

}

.founder {
    display: flex;
    align-items: center;
    margin-left: 10%;
    gap: 20px;
}

.founder img{
    height: 10vh;
    width: 10vh;
    margin-left: 20%;
}

.comp{
    padding: 35px 25px 35px 25px;

}

.graph{
    padding: 49px 25px 20px 25px;


}

.track{
    padding: 49px 25px 45px 25px;
    background-color:rgba(0, 0, 0, 0.103);

}

.float h1{
    color: rgba(0, 128, 0, 0.751);
}

.float img{
    height: 65vh;
    width: 65vh;
    float: right;
    padding: 30px;

}

.float{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    padding: 60px;
    background-color:rgba(128, 128, 128, 0.081);

}

.float button{
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    margin-top: 30px;
}


.mob img{
    height: 100vh;
    width: 120vh;
}

.center{
    text-align: center;
    margin-top: 250px;
}

.client{
    background-color:rgba(128, 128, 128, 0.081);
    padding: 20px;

}

.client-body{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
}

.client-head{
    margin-bottom: 50px;
    text-align: center;
    color: rgba(0, 128, 0, 0.751);
    font-family: Arial, Helvetica, sans-serif;

}

.client-body p{
    padding: 50px;
}

.will{
    display: inline;
}

.will img{
    border-radius: 40px;
}

.some img{
    border-radius: 40px;
}

.success{
    justify-content: space-between;
    background-color: green;
    padding: 40px;
    margin: 30px;
}

.first h4{
    color: white;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.now button{
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
}

.para-bottom{
    margin-left: 30px;
    margin-right: 30px;
}

.bottom{
    background-color: black;
    color: green;
    padding: 10px;

}

.span{
    display: inline;
    margin: 20px;
}

.digital svg{
    margin-left: 10px;
}

.digital{
    display: inline;
    margin-left: 60%;
}

.digital a{
    text-decoration: none;
    color: green;
}




