.main{
    border-left: 1px solid black;
}

.navbar{
    display: flex;
    margin-left: 80px;
    border-bottom: 2px solid green;
    width: 87%;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-top: 20px;
}
.navbar ul li{
    display: inline-block;
    margin-right: 20px;
    /* position: relative; */
}

.navbar ul li a{
    text-decoration: none;
    color: black
    /* text-transform: uppercase; */
}

.navbar button{
    text-decoration: none;
}



.navbar img{
    width: 250px;
    /* height: 100px; */
}

.flex-card{
    display: flex;
    margin-left: 80px;
    /* margin-top: 30px; */
    margin-right: 80px;
    align-items: center;
    background-color:rgba(128, 128, 128, 0.081);
    border-left: 1px solid black;
    /* padding: 30px; */
    

}

.started h2{
    color: rgb(23, 157, 23);
    margin-left: 40px;
}

.started p{
    margin-left: 40px;
}

.started button{
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    background-color: rgb(20, 157, 23);
    margin-left: 40px;

}


.mobile img{
    height: 100vh;
    width: 120vh;
}

.feature h2{
    text-align: center;
    color: rgb(67, 210, 67);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.feature p{
    text-align: center;
    font-size: larger;
}

.ref h2{
    margin-left: 10%;
}

.investor{
    display: flex;
    align-items: center;
    margin-left: 10%;
    gap: 20px;
    margin-bottom: 30px;
}

.investor img{
    height: 10vh;
    width: 10vh;
    margin-left: 25% ;

}

.growth{
    padding: 35px 25px 35px 25px;
    background-color:rgba(0, 0, 0, 0.103);
    box-shadow: 50px;
}

.star{
    padding: 20px 25px 20px 25px;
    background-color:rgba(0, 0, 0, 0.103);
}

.page{
    padding: 45px 25px 45px 25px;
    background-color:rgba(0, 0, 0, 0.103);
}

.fon{
    margin-left: 10%;
    margin-bottom: 30px;

}

.founder {
    display: flex;
    align-items: center;
    margin-left: 10%;
    gap: 20px;
}

.founder img{
    height: 10vh;
    width: 10vh;
    margin-left: 20%;
}

.comp{
    padding: 35px 25px 35px 25px;
    /* border: 1px solid black; */
    background-color:rgba(0, 0, 0, 0.103);

}

.graph{
    /* border: 1px solid black; */
    padding: 49px 25px 20px 25px;
    background-color:rgba(0, 0, 0, 0.103);


}

.track{
    /* border: 1px solid black; */
    /* padding-bottom:80px ; */
    padding: 49px 25px 45px 25px;
    background-color:rgba(0, 0, 0, 0.103);

}

.float h1{
    color: rgba(0, 128, 0, 0.751);
}

.float img{
    height: 65vh;
    width: 65vh;
    float: right;
    padding: 30px;

}

.float{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    background-color:rgba(128, 128, 128, 0.081);
    padding: 60px;
}

.float button{
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    background-color: rgb(20, 157, 23);
    margin-top: 30px;
}





