

.flex-card{
    display: flex;
    margin: 20px;
    align-items: center;

}

.started h2{
    color: rgb(23, 157, 23);
}

.started button{
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    background-color: rgb(20, 157, 23);

}


.mobile img{
    height: 100vh;
    width: 140vh;
    /* margin-bottom: 100px; */
    /* padding: 50px; */
}

.feature h2{
    text-align: center;
    color: rgb(67, 210, 67);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.feature p{
    text-align: center;
    font-size: larger;
}

.ref h2{
    margin-left: 250px;
    /* text-align: center; */
}

.investor{
    display: flex;
    align-items: center;
    margin-left: 20%;
    gap: 20px;
}

.investor img{
    height: 10vh;
    width: 10vh;
    margin-left: 25% ;

}

.growth{
    padding: 35px 25px 35px 25px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.9;

}

.star{
    border: 1px solid black;
    padding: 20px 25px 20px 25px;

}

.page{
    border: 1px solid black;
    /* padding-bottom:80px ; */
    padding: 45px 25px 45px 25px;
}

.founder {
    display: flex;
}





